.flows.json.backup
[
    {
        "id": "0b520d44806a11f3",
        "type": "tab",
        "label": "Webhook",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2d87526124908d3",
        "type": "tab",
        "label": "Router",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d99c27f51c2d001",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5dbc1a6f35dd83e",
        "type": "tab",
        "label": "onboarding",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89be0f25632bd28a",
        "type": "tab",
        "label": "appartment_rent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ade4ea4102cc1ec",
        "type": "tab",
        "label": "other_rent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ba50324dd1e6e05",
        "type": "tab",
        "label": "events",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0cc2b3c19faa03e9",
        "type": "tab",
        "label": "government",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "444b9a813a6f78cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c2d6816e744f51d",
        "type": "tab",
        "label": "letters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3949f14a014878ce",
        "type": "tab",
        "label": "other",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d869d79036fed8e9",
        "type": "tab",
        "label": "finish",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abc92949fb2b54c6",
        "type": "tab",
        "label": "/users",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66e6af8356755793",
        "type": "subflow",
        "name": "API Telegram",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "ca2575eceba4b387"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 721.2500114440918,
                "y": 40,
                "wires": [
                    {
                        "id": "06fe15599413a5b5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720.0000114440918,
                "y": 122.50000190734863,
                "wires": [
                    {
                        "id": "06fe15599413a5b5",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "9af4e4bf7b3e551a",
        "type": "subflow",
        "name": "db call",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 88,
                "y": 120,
                "wires": [
                    {
                        "id": "a1c6d85ec2d98b3c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 548,
                "y": 120,
                "wires": [
                    {
                        "id": "a1c6d85ec2d98b3c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "595be9b799477ac6",
        "type": "subflow",
        "name": "user manipulations",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 160,
                "wires": [
                    {
                        "id": "06ff41f015626a0a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 160,
                "wires": [
                    {
                        "id": "8dbec074f71a4106",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ebe07f9f108b51a0",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb+srv",
        "hostname": "cluster0.qedus.mongodb.net",
        "port": "",
        "dbName": "plast_lviv_bot_db",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "",
        "advanced": "",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "ca2575eceba4b387",
        "type": "function",
        "z": "66e6af8356755793",
        "name": "",
        "func": "msg.method = 'POST';\n\nmsg.url = `${msg.telegramUrl}/bot${msg.token}/sendMessage`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "b78fc9916d322a5b"
            ]
        ]
    },
    {
        "id": "b78fc9916d322a5b",
        "type": "http request",
        "z": "66e6af8356755793",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "06fe15599413a5b5"
            ]
        ]
    },
    {
        "id": "06fe15599413a5b5",
        "type": "switch",
        "z": "66e6af8356755793",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a1c6d85ec2d98b3c",
        "type": "mongodb4",
        "z": "9af4e4bf7b3e551a",
        "clientNode": "ebe07f9f108b51a0",
        "collection": "msg.collection",
        "operation": "msg.operation",
        "output": "toArray",
        "name": "get users",
        "x": 288,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8dbec074f71a4106",
        "type": "mongodb4",
        "z": "595be9b799477ac6",
        "clientNode": "ebe07f9f108b51a0",
        "collection": "users",
        "operation": "find",
        "output": "toArray",
        "name": "",
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "06ff41f015626a0a",
        "type": "function",
        "z": "595be9b799477ac6",
        "name": "",
        "func": "msg.chat_id = 735660453;\nmsg.collection = 'users';\nmsg.operation = 'find';\n// msg.payload = [];\nmsg.payload = [{'chat_id': msg.chat_id}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 160,
        "wires": [
            [
                "8dbec074f71a4106"
            ]
        ]
    },
    {
        "id": "791e57bb63a9482e",
        "type": "http in",
        "z": "0b520d44806a11f3",
        "name": "",
        "url": "/webhooktg",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 209.999981880188,
        "y": 158.88889503479004,
        "wires": [
            [
                "bfdd70c1de5bcd43",
                "b0906f343baa151d",
                "d2517ef523796fe9"
            ]
        ]
    },
    {
        "id": "bfdd70c1de5bcd43",
        "type": "http response",
        "z": "0b520d44806a11f3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 439.999981880188,
        "y": 98.88889503479004,
        "wires": []
    },
    {
        "id": "b0906f343baa151d",
        "type": "change",
        "z": "0b520d44806a11f3",
        "name": "ENVs",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "TOKEN",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "telegramUrl",
                "pt": "msg",
                "to": "TELEGRAM_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 429.999981880188,
        "y": 158.88889503479004,
        "wires": [
            [
                "7050bc3c825808c7"
            ]
        ]
    },
    {
        "id": "d2517ef523796fe9",
        "type": "debug",
        "z": "0b520d44806a11f3",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 449.999981880188,
        "y": 218.88889503479004,
        "wires": []
    },
    {
        "id": "7050bc3c825808c7",
        "type": "function",
        "z": "0b520d44806a11f3",
        "name": "",
        "func": "if (msg.payload.message) {\n    msg.payload.chat_id = msg.payload.message.chat.id;\n    msg.chat_id = msg.payload.message.chat.id;\n    msg.text = msg.payload.message.text;\n} else if (msg.payload.callback_query) {\n    msg.payload.chat_id = msg.payload.callback_query.message.chat.id;\n    msg.chat_id = msg.payload.callback_query.message.chat.id;\n    msg.text = msg.payload.callback_query.data;\n}\n\n//check if exists user_data \nif (!global.get(`${msg.chat_id}`)) {\n    msg.user_data = {};\n    msg.user_data.flow = 'onboarding';\n    msg.user_data.state = 'registration';    \n} else {\n    msg.user_data = global.get(`${msg.chat_id}`);\n}\n\n\n//get data from contact if exists\nif (msg.user_data.state == 'get_phone' && msg.payload.message \n        && msg.payload.message.contact && msg.payload.message.contact.phone_number\n        && msg.payload.message.contact.phone_number != '') {\n            \n    msg.user_data.phone_number = msg.payload.message.contact.phone_number;\n    msg.text = msg.payload.message.contact.phone_number;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 573.999981880188,
        "y": 158.88889503479004,
        "wires": [
            [
                "dd45b5872122f924"
            ]
        ]
    },
    {
        "id": "dd45b5872122f924",
        "type": "link out",
        "z": "0b520d44806a11f3",
        "name": "",
        "mode": "link",
        "links": [
            "55c2e9c77550f687",
            "4c52d0e8ef6be12d",
            "9e8f975502b2d175"
        ],
        "x": 701.166615486145,
        "y": 158.97223091125488,
        "wires": []
    },
    {
        "id": "9e8f975502b2d175",
        "type": "link in",
        "z": "b2d87526124908d3",
        "name": "",
        "links": [
            "dd45b5872122f924",
            "07d4233179f2c1d8"
        ],
        "x": 195,
        "y": 280,
        "wires": [
            [
                "35c3fef1083b2cdc"
            ]
        ]
    },
    {
        "id": "c4c294758852fc13",
        "type": "switch",
        "z": "b2d87526124908d3",
        "name": "current flow",
        "property": "user_data.flow",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "onboarding",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "main",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/appartment_rent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/other_rent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/events",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/government",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/letters",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/other",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "finish",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 591.1111660003662,
        "y": 280,
        "wires": [
            [
                "bd25d4144fb53088"
            ],
            [
                "dba7fd904a4fb8eb"
            ],
            [
                "2edec0742b8c817a"
            ],
            [
                "a77622dddc02aab1"
            ],
            [
                "d618acaca75b1ab4"
            ],
            [
                "b4d1002d6b62f9fd"
            ],
            [
                "b2043f816e030982"
            ],
            [
                "266bb41d6f623afc"
            ],
            [
                "190f871a83df6eee"
            ],
            [
                "bd25d4144fb53088"
            ]
        ]
    },
    {
        "id": "bd25d4144fb53088",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "onboarding",
        "mode": "link",
        "links": [
            "7efa52e1fa3c0446"
        ],
        "x": 805,
        "y": 120,
        "wires": []
    },
    {
        "id": "2edec0742b8c817a",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "appartment_rent",
        "mode": "link",
        "links": [
            "cee9f2b82465bab9"
        ],
        "x": 805,
        "y": 200,
        "wires": []
    },
    {
        "id": "d618acaca75b1ab4",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "events",
        "mode": "link",
        "links": [
            "64bf90ee4120ccec"
        ],
        "x": 805,
        "y": 280,
        "wires": []
    },
    {
        "id": "b4d1002d6b62f9fd",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "government",
        "mode": "link",
        "links": [
            "96778e5e1f7f59c6"
        ],
        "x": 805,
        "y": 320,
        "wires": []
    },
    {
        "id": "b2043f816e030982",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "letters",
        "mode": "link",
        "links": [
            "fd7cdb605c4b9596"
        ],
        "x": 805,
        "y": 360,
        "wires": []
    },
    {
        "id": "266bb41d6f623afc",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "other",
        "mode": "link",
        "links": [
            "5907e6d7961294a4"
        ],
        "x": 805,
        "y": 400,
        "wires": []
    },
    {
        "id": "a77622dddc02aab1",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "other_rent",
        "mode": "link",
        "links": [
            "73c42d2b6fb9a87e"
        ],
        "x": 805,
        "y": 240,
        "wires": []
    },
    {
        "id": "dba7fd904a4fb8eb",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "main",
        "mode": "link",
        "links": [
            "74aa1ada8e5350bd"
        ],
        "x": 805,
        "y": 160,
        "wires": []
    },
    {
        "id": "35c3fef1083b2cdc",
        "type": "function",
        "z": "b2d87526124908d3",
        "name": "parse message, update flow",
        "func": "msg.commands = ['/appartment_rent', '/other_rent', '/events', '/government', '/letters', '/other']\n\nif (msg.commands.includes(msg.text)) {\n    msg.user_data.flow = msg.text;\n    global.set(`${msg.chat_id}`, msg.user_data)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "c4c294758852fc13"
            ]
        ]
    },
    {
        "id": "190f871a83df6eee",
        "type": "link out",
        "z": "b2d87526124908d3",
        "name": "finish",
        "mode": "link",
        "links": [
            "384e6fca60b9dc4f"
        ],
        "x": 805,
        "y": 440,
        "wires": []
    },
    {
        "id": "74aa1ada8e5350bd",
        "type": "link in",
        "z": "3d99c27f51c2d001",
        "name": "",
        "links": [
            "dba7fd904a4fb8eb"
        ],
        "x": 115,
        "y": 180,
        "wires": [
            [
                "d5d58834aff9aa07"
            ]
        ]
    },
    {
        "id": "d5d58834aff9aa07",
        "type": "function",
        "z": "3d99c27f51c2d001",
        "name": "get_email",
        "func": "\nmsg.payload.text = `Вітаємо у головному меню. Оберіть пункт що вас цікавить`;\nmsg.payload.reply_markup = {\n    \"inline_keyboard\": [\n        [{\n            \"text\": \"Бронювання приміщень\",\n            \"callback_data\": '/appartment_rent'\n        },\n        {\n            \"text\": \"Оренда\",\n            \"callback_data\": '/other_rent'\n        }],\n        [{\n            \"text\": \"Заходи\",\n            \"callback_data\": '/events'\n        },\n        {\n            \"text\": \"Улад\",\n            \"callback_data\": '/government'\n        }],\n        [{\n            \"text\": \"Листи\",\n            \"callback_data\": '/letters'\n        },\n        {\n            \"text\": \"Інші питання\",\n            \"callback_data\": '/other'\n        }]\n    ],\n    'resize_keyboard': true,\n    'one_time_keyboard': true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "3086eb3348ef6e80"
            ]
        ]
    },
    {
        "id": "3086eb3348ef6e80",
        "type": "subflow:66e6af8356755793",
        "z": "3d99c27f51c2d001",
        "name": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "cab197ae1131d805"
            ],
            [
                "fc9deab01c52c65f"
            ]
        ]
    },
    {
        "id": "cab197ae1131d805",
        "type": "debug",
        "z": "3d99c27f51c2d001",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "fc9deab01c52c65f",
        "type": "debug",
        "z": "3d99c27f51c2d001",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "7efa52e1fa3c0446",
        "type": "link in",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "links": [
            "b4ff009868182db4",
            "bd25d4144fb53088"
        ],
        "x": 72.7777509689331,
        "y": 547.7777109146118,
        "wires": [
            [
                "6886102e9dda7f40",
                "d3175e46dbbd240a",
                "4515f437b0ea9c3d"
            ]
        ]
    },
    {
        "id": "e1fc50f72bad8b5b",
        "type": "switch",
        "z": "a5dbc1a6f35dd83e",
        "name": "state",
        "property": "user_data.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "registration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get_first_name",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get_last_name",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get_phone",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get_email",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "confirmation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "change_profile",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "finish",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 518.888843536377,
        "y": 546.6666612625122,
        "wires": [
            [
                "9a5b7e4eaea7d16e",
                "8b5a37a1f5263ad3"
            ],
            [
                "30593ffebc46a67c"
            ],
            [
                "44402701bbd79b75"
            ],
            [
                "b92a397721ac0f43"
            ],
            [
                "51816768e0e957b8"
            ],
            [
                "2884eee5e7b9ae78"
            ],
            [
                "7180902a2ad831fe"
            ],
            [
                "60e81eed4fdac841"
            ]
        ]
    },
    {
        "id": "30593ffebc46a67c",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "get_first_name",
        "func": "msg.payload.text = \"Введіть ваше ім'я:\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 732.2222366333008,
        "y": 291.1111125946045,
        "wires": [
            [
                "e76e90f99c00378a"
            ]
        ]
    },
    {
        "id": "910f8382976859c4",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user_data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1302.2222366333008,
        "y": 171.1111125946045,
        "wires": []
    },
    {
        "id": "e76e90f99c00378a",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 942.2222366333008,
        "y": 291.1111125946045,
        "wires": [
            [
                "19725832d88f9e3e"
            ],
            [
                "c3e14c5e8013d342"
            ]
        ]
    },
    {
        "id": "f51d1c41dc12026e",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "set state",
        "func": "msg.user_data.state = 'get_first_name';\nmsg.user_data.flow = 'onboarding';\nmsg.user_data.chat_id = msg.chat_id;\n\nglobal.set(`${msg.chat_id}`, msg.user_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1132.2222366333008,
        "y": 171.1111125946045,
        "wires": [
            [
                "910f8382976859c4"
            ]
        ]
    },
    {
        "id": "c3e14c5e8013d342",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1102.2222366333008,
        "y": 331.1111125946045,
        "wires": []
    },
    {
        "id": "9a5b7e4eaea7d16e",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "welcome",
        "func": " msg.payload.text = `Привіт! Я статичний бот Пласту у Львові!`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 713.3333702087402,
        "y": 70,
        "wires": [
            [
                "0897d816f98fbe52"
            ]
        ]
    },
    {
        "id": "0897d816f98fbe52",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 940.0000457763672,
        "y": 70.00000190734863,
        "wires": [
            [
                "3fced38cac8e8595"
            ],
            [
                "0102997b48019e49"
            ]
        ]
    },
    {
        "id": "19725832d88f9e3e",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1262.2222366333008,
        "y": 262.1111125946045,
        "wires": []
    },
    {
        "id": "9d458c5425c73b0e",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "set state",
        "func": "msg.user_data.state = 'get_first_name';\n\nglobal.set(`${msg.chat_id}`, msg.user_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 260,
        "wires": [
            [
                "19725832d88f9e3e"
            ]
        ]
    },
    {
        "id": "44402701bbd79b75",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "get_last_name",
        "func": "msg.payload.text = \"Введіть ваше прізвище:\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 732.2222366333008,
        "y": 411.1111125946045,
        "wires": [
            [
                "1726caf5964b0f83"
            ]
        ]
    },
    {
        "id": "1726caf5964b0f83",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 942.2222366333008,
        "y": 411.1111125946045,
        "wires": [
            [
                "36805dea2db78111"
            ],
            [
                "3e827fbb90406bca"
            ]
        ]
    },
    {
        "id": "3e827fbb90406bca",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1102.2222366333008,
        "y": 451.1111125946045,
        "wires": []
    },
    {
        "id": "36805dea2db78111",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1262.2222366333008,
        "y": 382.1111125946045,
        "wires": []
    },
    {
        "id": "5480fcbe4beb8f80",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "set state",
        "func": "msg.user_data.state = 'get_last_name';\nmsg.user_data.first_name = msg.text;\nglobal.set(`${msg.chat_id}`, msg.user_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1112.2222366333008,
        "y": 382.1111125946045,
        "wires": [
            [
                "36805dea2db78111"
            ]
        ]
    },
    {
        "id": "b92a397721ac0f43",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "get_phone",
        "func": "\nmsg.payload.text = 'Ваш номер телефону';\nmsg.payload.reply_markup = {\n    \"keyboard\": [\n        [{\n            \"text\": \"Поділитись номером\",\n            \"request_contact\": true\n        }]\n    ],\n    'resize_keyboard': true,\n    'one_time_keyboard': true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 722.2222366333008,
        "y": 551.1111125946045,
        "wires": [
            [
                "eb5fa10ede2c7467"
            ]
        ]
    },
    {
        "id": "eb5fa10ede2c7467",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 942.2222366333008,
        "y": 551.1111125946045,
        "wires": [
            [
                "ec0ffb3bc352afe4"
            ],
            [
                "3879db8e37c73955"
            ]
        ]
    },
    {
        "id": "3879db8e37c73955",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1102.2222366333008,
        "y": 591.1111125946045,
        "wires": []
    },
    {
        "id": "ec0ffb3bc352afe4",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1262.2222366333008,
        "y": 522.1111125946045,
        "wires": []
    },
    {
        "id": "61a988491dd9ad63",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "set state",
        "func": "msg.user_data.state = 'get_phone';\nmsg.user_data.last_name = msg.text;\nglobal.set(`${msg.chat_id}`, msg.user_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1112.2222366333008,
        "y": 522.1111125946045,
        "wires": [
            [
                "ec0ffb3bc352afe4"
            ]
        ]
    },
    {
        "id": "51816768e0e957b8",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "get_email",
        "func": "\nmsg.payload.text = 'Ваш email:';\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 712.2222366333008,
        "y": 691.1111125946045,
        "wires": [
            [
                "438241d8ad9b0938"
            ]
        ]
    },
    {
        "id": "438241d8ad9b0938",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 942.2222366333008,
        "y": 691.1111125946045,
        "wires": [
            [
                "aa7d124d011f79d1"
            ],
            [
                "0d2e97dc92e426a5"
            ]
        ]
    },
    {
        "id": "0d2e97dc92e426a5",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1102.2222366333008,
        "y": 731.1111125946045,
        "wires": []
    },
    {
        "id": "aa7d124d011f79d1",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1262.2222366333008,
        "y": 662.1111125946045,
        "wires": []
    },
    {
        "id": "7d0f3454db707746",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "get_email",
        "func": "msg.user_data.state = 'confirmation';\n\nglobal.set(`${msg.chat_id}`, msg.user_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1112.2222366333008,
        "y": 662.1111125946045,
        "wires": [
            [
                "aa7d124d011f79d1"
            ]
        ]
    },
    {
        "id": "0102997b48019e49",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1096.6667213439941,
        "y": 113.3333387374878,
        "wires": []
    },
    {
        "id": "e7550d2553d67c1d",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "registration",
        "func": "\nmsg.payload.text = 'Щоб усі твої запити було простіше обробляти пропоную тобі зареєструватись';\nmsg.payload.reply_markup = {\n    \"keyboard\": [\n        [{\n            \"text\": \"Зареєструватись\",\n            \"callback_data\": \"get_first_name\"\n        }]\n    ],\n    'resize_keyboard': true,\n    'one_time_keyboard': true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 725.5555648803711,
        "y": 191.1111011505127,
        "wires": [
            [
                "441c5f2a0dc68c31"
            ]
        ]
    },
    {
        "id": "441c5f2a0dc68c31",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 940.0000457763672,
        "y": 190.00000190734863,
        "wires": [
            [
                "910f8382976859c4"
            ],
            [
                "7d111e3f5ce966aa"
            ]
        ]
    },
    {
        "id": "7d111e3f5ce966aa",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1122.2222366333008,
        "y": 211.1111125946045,
        "wires": []
    },
    {
        "id": "7180902a2ad831fe",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "change_profile",
        "func": "\nmsg.payload.text = `Оберіть пункт що потребує зміни`;\nmsg.payload.reply_markup = {\n    \"keyboard\": [\n        [{\n            \"text\": \"Iм'я\"\n        },\n        {\n            \"text\": \"Прізвище\"\n        }],\n        [{\n            \"text\": \"Email\"\n        },\n        {\n            \"text\": \"Номер телефону\"\n        }]\n    ],\n    'resize_keyboard': true,\n    'one_time_keyboard': true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 734.4444561004639,
        "y": 976.6666469573975,
        "wires": [
            [
                "69853634293aea42"
            ]
        ]
    },
    {
        "id": "69853634293aea42",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 944.4444561004639,
        "y": 976.6666469573975,
        "wires": [
            [
                "ce5d2fe7d3abf272"
            ],
            [
                "1c018193a11f4428"
            ]
        ]
    },
    {
        "id": "1c018193a11f4428",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1104.4444561004639,
        "y": 1016.6666469573975,
        "wires": []
    },
    {
        "id": "ce5d2fe7d3abf272",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1302.2222061157227,
        "y": 947.6666030883789,
        "wires": []
    },
    {
        "id": "4e5eb69bac96bea4",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "change_profile",
        "func": "global.set(\"state\", \"\");\nglobal.set(\"flow\", 'main');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1134.4444561004639,
        "y": 947.6666469573975,
        "wires": [
            [
                "ce5d2fe7d3abf272"
            ]
        ]
    },
    {
        "id": "8b5a37a1f5263ad3",
        "type": "delay",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 713.3333740234375,
        "y": 143.33333587646484,
        "wires": [
            [
                "e7550d2553d67c1d"
            ]
        ]
    },
    {
        "id": "3fced38cac8e8595",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120.0000457763672,
        "y": 50.00000190734863,
        "wires": []
    },
    {
        "id": "60e81eed4fdac841",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "set state",
        "func": "msg.user_data.state = '';\nmsg.user_data.flow = 'main';\nglobal.set(`${msg.chat_id}`, msg.user_data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 714.4444561004639,
        "y": 1076.6666469573975,
        "wires": [
            [
                "07d4233179f2c1d8"
            ]
        ]
    },
    {
        "id": "6886102e9dda7f40",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user_data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "2884eee5e7b9ae78",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "confirmation",
        "func": "\nmsg.payload.text = `Перевірте чи все записанов вірно:\nІмя: ${msg.user_data.first_name}\nПрізвище: ${msg.user_data.last_name}\nНомер телефону: ${msg.user_data.phone_number}\nEmail: ${msg.user_data.email}`;\nmsg.payload.reply_markup = {\n    \"keyboard\": [\n        [{\n            \"text\": \"Виправити дані\",\n            \"callback_data\": 'data_confirmed'\n        },\n        {\n            \"text\": \"Все вірно\",\n            \"callback_data\": 'change_profile'\n        }]\n    ],\n    'resize_keyboard': true,\n    'one_time_keyboard': true\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 724.4444561004639,
        "y": 836.6666469573975,
        "wires": [
            [
                "138e842bc262ba71"
            ]
        ]
    },
    {
        "id": "138e842bc262ba71",
        "type": "subflow:66e6af8356755793",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "x": 944.4444561004639,
        "y": 836.6666469573975,
        "wires": [
            [
                "49922eeafb59e948"
            ],
            [
                "e34ed1c711f66388"
            ]
        ]
    },
    {
        "id": "e34ed1c711f66388",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1104.4444561004639,
        "y": 876.6666469573975,
        "wires": []
    },
    {
        "id": "49922eeafb59e948",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1264.4444561004639,
        "y": 807.6666469573975,
        "wires": []
    },
    {
        "id": "5e6cbf27d3a11ae3",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "set state",
        "func": "global.set(\"state\", \"confirmation\");\nglobal.set(\"flow\", 'main');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1114.4444561004639,
        "y": 807.6666469573975,
        "wires": [
            [
                "49922eeafb59e948"
            ]
        ]
    },
    {
        "id": "d3175e46dbbd240a",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "msg.text validation",
        "func": "//email validation\n\nfunction validateEmail(email) {\n    var re = /\\S+@\\S+\\.\\S+/;\n    return re.test(email);\n}\n\nfunction validatePhone(phone) {\n  let re = /^380[0-9]{9}$/;\n  return re.test(phone);\n}\n\n\nif (msg.user_data.state == 'change_profile') { // for correction data at some state\n    msg.user_data.state = msg.text;\n    switch (msg.text) {\n        case \"Iм'я\" :\n            msg.user_data.state = 'get_first_name';\n            break ;\n        case \"Прізвище\" :\n            msg.user_data.state = 'get_last_name';\n            break ;\n        case \"Номер телефону\" :\n            msg.user_data.state = 'get_phone';\n            break ;\n        case \"Email\" :\n            msg.user_data.state = 'get_email';\n            break ;\n        \n    }\n    msg.text = '';\n}\n\nif (!msg.user_data || !msg.user_data.state || msg.user_data.state == 'registration') {\n    if (msg.text && msg.text != '' && msg.text == 'Зареєструватись') {\n        msg.user_data.state = 'get_first_name';//get_first_name\n    } else {\n        msg.user_data.state = 'registration';//welcome\n    }\n} else if (msg.user_data.state == 'get_first_name') {\n    if (msg.text && msg.text != '') {\n        msg.user_data.first_name = msg.text;\n        msg.user_data.state = 'get_last_name';//get last name\n    } else {\n        msg.user_data.state = 'get_first_name';//repeat get_first_name\n    }\n}  else if (msg.user_data.state == 'get_last_name') {\n    if (msg.text && msg.text != '') {\n        msg.user_data.last_name = msg.text;\n        msg.user_data.state = 'get_phone';//get phone\n    } else {\n        msg.user_data.state = 'get_last_name';//repeat get_last_name\n    }\n}  else if (msg.user_data.state == 'get_phone') {\n    if (msg.user_data.phone_number && (validatePhone(msg.user_data.phone_number) || msg.user_data.phone_number.length() == 12)) {\n        msg.user_data.state = 'get_email';\n    } else if ((!msg.user_data.phone_number || msg.user_data.phone_number == '') && msg.text && validatePhone(msg.text)) {\n        msg.user_data.phone_number = msg.text;\n        msg.user_data.state = 'get_email';\n    } else {\n        msg.user_data.state = 'get_phone';\n    }\n\n}  else if (msg.user_data.state == 'get_email') {\n    if (msg.text && msg.text != '' && validateEmail(msg.text)) {\n        msg.user_data.email = msg.text;\n        msg.user_data.all_data_set = true;\n        msg.user_data.state = 'confirmation';\n    } else {\n        msg.user_data.state = 'get_email';\n    }\n\n}  else if (msg.user_data.state == 'confirmation') {\n    if (msg.text && msg.text == 'Все вірно') {\n        msg.user_data.state = 'finish'; \n    } else if (msg.text && msg.text == 'Виправити дані') {\n        msg.user_data.state = 'change_profile'\n    } else {\n        msg.user_data.state = 'confirmation';//welcome\n    }\n}  \n\nif (msg.user_data.all_data_set === true && msg.text != '' && \n    (msg.user_data.state == 'get_first_name' || msg.user_data.state == 'get_last_name'\n    || msg.user_data.state == 'get_phone' || msg.user_data.state == 'get_email')) {\n    msg.user_data.state = 'confirmation';\n}\n\nglobal.set(`${msg.chat_id}`, msg.user_data)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 311.11112213134766,
        "y": 546.6666679382324,
        "wires": [
            [
                "e1fc50f72bad8b5b",
                "6886102e9dda7f40"
            ]
        ]
    },
    {
        "id": "4515f437b0ea9c3d",
        "type": "debug",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "07d4233179f2c1d8",
        "type": "link out",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "mode": "link",
        "links": [
            "55c2e9c77550f687",
            "4c52d0e8ef6be12d",
            "9e8f975502b2d175"
        ],
        "x": 835,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cee9f2b82465bab9",
        "type": "link in",
        "z": "89be0f25632bd28a",
        "name": "",
        "links": [
            "2edec0742b8c817a"
        ],
        "x": 105,
        "y": 140,
        "wires": [
            [
                "8cd176dc15efb536"
            ]
        ]
    },
    {
        "id": "8cd176dc15efb536",
        "type": "function",
        "z": "89be0f25632bd28a",
        "name": "appartment_rent parse",
        "func": "\nmsg.payload.text = `Вітаємо у меню бронювання приміщень.`;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "2737fa2e13513acd"
            ]
        ]
    },
    {
        "id": "2737fa2e13513acd",
        "type": "subflow:66e6af8356755793",
        "z": "89be0f25632bd28a",
        "name": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "313892e777df69f4"
            ],
            [
                "524f626227926931"
            ]
        ]
    },
    {
        "id": "313892e777df69f4",
        "type": "debug",
        "z": "89be0f25632bd28a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 647,
        "y": 100,
        "wires": []
    },
    {
        "id": "524f626227926931",
        "type": "debug",
        "z": "89be0f25632bd28a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 647,
        "y": 180,
        "wires": []
    },
    {
        "id": "73c42d2b6fb9a87e",
        "type": "link in",
        "z": "2ade4ea4102cc1ec",
        "name": "",
        "links": [
            "a77622dddc02aab1"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "e595b9b68e7413d7"
            ]
        ]
    },
    {
        "id": "e595b9b68e7413d7",
        "type": "function",
        "z": "2ade4ea4102cc1ec",
        "name": "other_rent parse",
        "func": "\nmsg.payload.text = `Вітаємо у меню оренди.`;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "6fa11d12fb2a4c55"
            ]
        ]
    },
    {
        "id": "6fa11d12fb2a4c55",
        "type": "subflow:66e6af8356755793",
        "z": "2ade4ea4102cc1ec",
        "name": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "d7a114fb0e383974"
            ],
            [
                "634ee2fb1b876012"
            ]
        ]
    },
    {
        "id": "d7a114fb0e383974",
        "type": "debug",
        "z": "2ade4ea4102cc1ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 642,
        "y": 120,
        "wires": []
    },
    {
        "id": "634ee2fb1b876012",
        "type": "debug",
        "z": "2ade4ea4102cc1ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 642,
        "y": 200,
        "wires": []
    },
    {
        "id": "64bf90ee4120ccec",
        "type": "link in",
        "z": "9ba50324dd1e6e05",
        "name": "",
        "links": [
            "d618acaca75b1ab4"
        ],
        "x": 145,
        "y": 140,
        "wires": [
            [
                "2eb9068d6fffeaa7"
            ]
        ]
    },
    {
        "id": "2eb9068d6fffeaa7",
        "type": "function",
        "z": "9ba50324dd1e6e05",
        "name": "events parse",
        "func": "\nmsg.payload.text = `Вітаємо у меню заходів.`;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 272,
        "y": 140,
        "wires": [
            [
                "42935794f1f66def"
            ]
        ]
    },
    {
        "id": "42935794f1f66def",
        "type": "subflow:66e6af8356755793",
        "z": "9ba50324dd1e6e05",
        "name": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "156dc267386a2c55"
            ],
            [
                "4505e0f1eb810955"
            ]
        ]
    },
    {
        "id": "156dc267386a2c55",
        "type": "debug",
        "z": "9ba50324dd1e6e05",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "4505e0f1eb810955",
        "type": "debug",
        "z": "9ba50324dd1e6e05",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "96778e5e1f7f59c6",
        "type": "link in",
        "z": "0cc2b3c19faa03e9",
        "name": "",
        "links": [
            "b4d1002d6b62f9fd"
        ],
        "x": 105,
        "y": 140,
        "wires": [
            [
                "651d71c66de10cf9"
            ]
        ]
    },
    {
        "id": "651d71c66de10cf9",
        "type": "function",
        "z": "0cc2b3c19faa03e9",
        "name": "government parse",
        "func": "\nmsg.payload.text = `Вітаємо у меню улади.`;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "1b38c3b94d238784"
            ]
        ]
    },
    {
        "id": "1b38c3b94d238784",
        "type": "subflow:66e6af8356755793",
        "z": "0cc2b3c19faa03e9",
        "name": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "68dafd6e9e89e0d6"
            ],
            [
                "10d8509260543953"
            ]
        ]
    },
    {
        "id": "68dafd6e9e89e0d6",
        "type": "debug",
        "z": "0cc2b3c19faa03e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 648,
        "y": 100,
        "wires": []
    },
    {
        "id": "10d8509260543953",
        "type": "debug",
        "z": "0cc2b3c19faa03e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 648,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd7cdb605c4b9596",
        "type": "link in",
        "z": "8c2d6816e744f51d",
        "name": "",
        "links": [
            "b2043f816e030982"
        ],
        "x": 175,
        "y": 140,
        "wires": [
            [
                "ab82ba15776ff513"
            ]
        ]
    },
    {
        "id": "ab82ba15776ff513",
        "type": "function",
        "z": "8c2d6816e744f51d",
        "name": "letters parse",
        "func": "\nmsg.payload.text = `Вітаємо у меню листів.`;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "68dfb95e75c856d2"
            ]
        ]
    },
    {
        "id": "68dfb95e75c856d2",
        "type": "subflow:66e6af8356755793",
        "z": "8c2d6816e744f51d",
        "name": "",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "7c1389a6d3443bf0"
            ],
            [
                "f0198431288f2d2d"
            ]
        ]
    },
    {
        "id": "7c1389a6d3443bf0",
        "type": "debug",
        "z": "8c2d6816e744f51d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 728,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0198431288f2d2d",
        "type": "debug",
        "z": "8c2d6816e744f51d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 728,
        "y": 180,
        "wires": []
    },
    {
        "id": "5907e6d7961294a4",
        "type": "link in",
        "z": "3949f14a014878ce",
        "name": "",
        "links": [
            "266bb41d6f623afc"
        ],
        "x": 205,
        "y": 160,
        "wires": [
            [
                "0aa570b96059f837"
            ]
        ]
    },
    {
        "id": "0aa570b96059f837",
        "type": "function",
        "z": "3949f14a014878ce",
        "name": "other questions parse",
        "func": "\nmsg.payload.text = `Вітаємо у меню листів.`;\n\n\nmsg.payload.text = `Вітаємо у головному меню. Оберіть пункт що вас цікавить`;\nmsg.payload.reply_markup = {\n    \"inline_keyboard\": [\n        [{\n            \"text\": \"Поспілкуватись із адміністратором\",\n            \"callback_data\": 'admin_comunication_flow'\n        },\n        {\n            \"text\": \"Офіс пласт у Львові\",\n            \"callback_data\": 'relink'\n        }]\n    ],\n    'resize_keyboard': true,\n    'one_time_keyboard': true\n};\n\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "8192c343dce2a980"
            ]
        ]
    },
    {
        "id": "8192c343dce2a980",
        "type": "subflow:66e6af8356755793",
        "z": "3949f14a014878ce",
        "name": "",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "7c1a01dc608e776e"
            ],
            [
                "9a0469eb6832eeb4"
            ]
        ]
    },
    {
        "id": "7c1a01dc608e776e",
        "type": "debug",
        "z": "3949f14a014878ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 748,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a0469eb6832eeb4",
        "type": "debug",
        "z": "3949f14a014878ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 748,
        "y": 200,
        "wires": []
    },
    {
        "id": "384e6fca60b9dc4f",
        "type": "link in",
        "z": "d869d79036fed8e9",
        "name": "",
        "links": [
            "190f871a83df6eee"
        ],
        "x": 95,
        "y": 100,
        "wires": [
            [
                "0aa687bef851f14f"
            ]
        ]
    },
    {
        "id": "0aa687bef851f14f",
        "type": "function",
        "z": "d869d79036fed8e9",
        "name": "other questions parse",
        "func": "\nmsg.payload.text = `Дякуємо за твій запит. Лиши відгук про роботу з адміністрацією Пласту у Львові`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "0b2731d6ab2a4456"
            ]
        ]
    },
    {
        "id": "0b2731d6ab2a4456",
        "type": "subflow:66e6af8356755793",
        "z": "d869d79036fed8e9",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "c070f3f8db3ee6bd"
            ],
            [
                "c3bdd7a9fbb2d6a3"
            ]
        ]
    },
    {
        "id": "c070f3f8db3ee6bd",
        "type": "debug",
        "z": "d869d79036fed8e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 648,
        "y": 60,
        "wires": []
    },
    {
        "id": "c3bdd7a9fbb2d6a3",
        "type": "debug",
        "z": "d869d79036fed8e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 648,
        "y": 140,
        "wires": []
    },
    {
        "id": "a653e9bbb5fdf748",
        "type": "http in",
        "z": "abc92949fb2b54c6",
        "name": "GET users",
        "url": "/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "45d0999ee82f6030",
                "d169659ec804573c"
            ]
        ]
    },
    {
        "id": "374978e0751771dc",
        "type": "http in",
        "z": "abc92949fb2b54c6",
        "name": "GET user by chat_id",
        "url": "/user/:chat_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 283,
        "wires": [
            [
                "333d14f04f421da9",
                "981834fe34f9b66f"
            ]
        ]
    },
    {
        "id": "45d0999ee82f6030",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "",
        "func": "msg.chat_id = 735660453;\nmsg.collection = 'users';\nmsg.operation = 'find';\nmsg.payload = [];\n// msg.payload = [{'chat_id': msg.chat_id}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "8b778f0d0ad4e4cd"
            ]
        ]
    },
    {
        "id": "333d14f04f421da9",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "",
        "func": "if (msg.req.url) {\n    msg.chat_id = msg.req.url.substring(6);\n    msg.chat_id = 735660453;\n} else {\n    msg.statusCode = 400;\n}\nmsg.collection = 'users';\nmsg.operation = 'find';\nmsg.payload = [{'chat_id': `${msg.chat_id}`}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 283,
        "wires": [
            [
                "10d3428f70723e70"
            ]
        ]
    },
    {
        "id": "8b778f0d0ad4e4cd",
        "type": "mongodb4",
        "z": "abc92949fb2b54c6",
        "clientNode": "ebe07f9f108b51a0",
        "collection": "msg.collection",
        "operation": "msg.operation",
        "output": "toArray",
        "name": "db call",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "fae7798ede1a6f7a"
            ]
        ]
    },
    {
        "id": "d169659ec804573c",
        "type": "debug",
        "z": "abc92949fb2b54c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "fae7798ede1a6f7a",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "",
        "func": "msg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 607,
        "y": 143,
        "wires": [
            [
                "59558954aabd5a91"
            ]
        ]
    },
    {
        "id": "59558954aabd5a91",
        "type": "http response",
        "z": "abc92949fb2b54c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 757,
        "y": 143,
        "wires": []
    },
    {
        "id": "8a75f7422993a023",
        "type": "mongodb4",
        "z": "abc92949fb2b54c6",
        "clientNode": "ebe07f9f108b51a0",
        "collection": "msg.collection",
        "operation": "msg.operation",
        "output": "toArray",
        "name": "db call",
        "x": 630,
        "y": 303,
        "wires": [
            [
                "3f07ba14b41656f4"
            ]
        ]
    },
    {
        "id": "3f07ba14b41656f4",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "",
        "func": "msg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 303,
        "wires": [
            [
                "7b8aa983e52114bc"
            ]
        ]
    },
    {
        "id": "7b8aa983e52114bc",
        "type": "http response",
        "z": "abc92949fb2b54c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 303,
        "wires": []
    },
    {
        "id": "3f2f434b72630c02",
        "type": "http in",
        "z": "abc92949fb2b54c6",
        "name": "POST create user",
        "url": "/users/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "e06247f7000bdaaf",
                "4a101a81708ef9af"
            ]
        ]
    },
    {
        "id": "e06247f7000bdaaf",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "does not ready",
        "func": "\n// Need to bee done\n// msg.chat_id = 735660453;\n// msg.collection = 'users';\n// msg.operation = 'find';\n// // msg.payload = [];\n// msg.payload = [{'chat_id': msg.chat_id}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "85570dcd2c7bdc06"
            ]
        ]
    },
    {
        "id": "85570dcd2c7bdc06",
        "type": "mongodb4",
        "z": "abc92949fb2b54c6",
        "clientNode": "ebe07f9f108b51a0",
        "collection": "msg.collection",
        "operation": "msg.operation",
        "output": "toArray",
        "name": "db call",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "d0c142d1c010af6e"
            ]
        ]
    },
    {
        "id": "d0c142d1c010af6e",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "",
        "func": "msg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "6be5afd004af06a4"
            ]
        ]
    },
    {
        "id": "6be5afd004af06a4",
        "type": "http response",
        "z": "abc92949fb2b54c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "b729f7d91078bde4",
        "type": "http in",
        "z": "abc92949fb2b54c6",
        "name": "PUT update user by chat_id",
        "url": "/users/:chat_id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "87578ef46ad91040",
                "df761f101ef2a705"
            ]
        ]
    },
    {
        "id": "87578ef46ad91040",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "does not ready",
        "func": "msg.chat_id = 735660453;\nmsg.collection = 'users';\nmsg.operation = 'find';\n// msg.payload = [];\nmsg.payload = [{'chat_id': msg.chat_id}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "0ff4a4803a9e4253"
            ]
        ]
    },
    {
        "id": "0ff4a4803a9e4253",
        "type": "mongodb4",
        "z": "abc92949fb2b54c6",
        "clientNode": "ebe07f9f108b51a0",
        "collection": "msg.collection",
        "operation": "msg.operation",
        "output": "toArray",
        "name": "db call",
        "x": 630,
        "y": 620,
        "wires": [
            [
                "7aebe89a6e9243b6"
            ]
        ]
    },
    {
        "id": "7aebe89a6e9243b6",
        "type": "function",
        "z": "abc92949fb2b54c6",
        "name": "",
        "func": "msg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "75938429b8d21beb"
            ]
        ]
    },
    {
        "id": "75938429b8d21beb",
        "type": "http response",
        "z": "abc92949fb2b54c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "10d3428f70723e70",
        "type": "switch",
        "z": "abc92949fb2b54c6",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 283,
        "wires": [
            [
                "276640ec2f37b980"
            ],
            [
                "8a75f7422993a023"
            ]
        ]
    },
    {
        "id": "276640ec2f37b980",
        "type": "http response",
        "z": "abc92949fb2b54c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 243,
        "wires": []
    },
    {
        "id": "981834fe34f9b66f",
        "type": "debug",
        "z": "abc92949fb2b54c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "df761f101ef2a705",
        "type": "debug",
        "z": "abc92949fb2b54c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "4a101a81708ef9af",
        "type": "debug",
        "z": "abc92949fb2b54c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    }
]