flows.json
[
    {
        "id": "0b520d44806a11f3",
        "type": "tab",
        "label": "Webhook",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5dbc1a6f35dd83e",
        "type": "tab",
        "label": "onboarding",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66e6af8356755793",
        "type": "subflow",
        "name": "API Telegram",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "ca2575eceba4b387"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 721.2500114440918,
                "y": 40,
                "wires": [
                    {
                        "id": "06fe15599413a5b5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720.0000114440918,
                "y": 122.50000190734863,
                "wires": [
                    {
                        "id": "06fe15599413a5b5",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ca2575eceba4b387",
        "type": "function",
        "z": "66e6af8356755793",
        "name": "",
        "func": "msg.method = 'POST';\n\nmsg.url = `${msg.telegramUrl}/bot${msg.token}/sendMessage`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "b78fc9916d322a5b"
            ]
        ]
    },
    {
        "id": "b78fc9916d322a5b",
        "type": "http request",
        "z": "66e6af8356755793",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "06fe15599413a5b5"
            ]
        ]
    },
    {
        "id": "06fe15599413a5b5",
        "type": "switch",
        "z": "66e6af8356755793",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "791e57bb63a9482e",
        "type": "http in",
        "z": "0b520d44806a11f3",
        "name": "",
        "url": "/webhooktg",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 127.50008010864258,
        "y": 101.2500171661377,
        "wires": [
            [
                "bfdd70c1de5bcd43",
                "b0906f343baa151d",
                "d2517ef523796fe9"
            ]
        ]
    },
    {
        "id": "bfdd70c1de5bcd43",
        "type": "http response",
        "z": "0b520d44806a11f3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 357.5000801086426,
        "y": 101.2500171661377,
        "wires": []
    },
    {
        "id": "b0906f343baa151d",
        "type": "change",
        "z": "0b520d44806a11f3",
        "name": "ENVs",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "TOKEN",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "telegramUrl",
                "pt": "msg",
                "to": "TELEGRAM_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 347.5000801086426,
        "y": 181.2500171661377,
        "wires": [
            [
                "7050bc3c825808c7"
            ]
        ]
    },
    {
        "id": "d2517ef523796fe9",
        "type": "debug",
        "z": "0b520d44806a11f3",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 127.50008010864258,
        "y": 181.2500171661377,
        "wires": []
    },
    {
        "id": "c8bf13b163eee437",
        "type": "debug",
        "z": "0b520d44806a11f3",
        "name": "webhooktg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 160,
        "wires": []
    },
    {
        "id": "7050bc3c825808c7",
        "type": "function",
        "z": "0b520d44806a11f3",
        "name": "",
        "func": "msg.chatId = msg.payload.message.chat.id;\nmsg.firstName = msg.payload.message.from.first_name;\nmsg.text = msg.payload.message.text;\nmsg.state = global.get(\"state\") ? global.get(\"state\") : null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 491.5000801086426,
        "y": 181.2500171661377,
        "wires": [
            [
                "7564d79b4f68c063"
            ]
        ]
    },
    {
        "id": "d923d3745f214d13",
        "type": "subflow:66e6af8356755793",
        "z": "0b520d44806a11f3",
        "name": "",
        "x": 977.5000953674316,
        "y": 181.25002002716064,
        "wires": [
            [
                "abde3a29827365bd"
            ],
            []
        ]
    },
    {
        "id": "7564d79b4f68c063",
        "type": "switch",
        "z": "0b520d44806a11f3",
        "name": "text /start",
        "property": "text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 657.5000801086426,
        "y": 181.2500171661377,
        "wires": [
            [
                "56d8db40bdd69a45"
            ],
            [
                "b13fdfdb54641480"
            ]
        ]
    },
    {
        "id": "56d8db40bdd69a45",
        "type": "function",
        "z": "0b520d44806a11f3",
        "name": "",
        "func": " msg.payload = {\n     \"chat_id\": msg.chatId,\n     \"text\": `Hello, ${msg.firstName}.\\nIt's such a beautiful world!`\n };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 797.5000801086426,
        "y": 161.2500171661377,
        "wires": [
            [
                "d923d3745f214d13"
            ]
        ]
    },
    {
        "id": "abde3a29827365bd",
        "type": "function",
        "z": "0b520d44806a11f3",
        "name": "set state",
        "func": "global.set(\"state\", \"welcome\");\nglobal.set(\"flow\", 'onboarding');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "c8bf13b163eee437"
            ]
        ]
    },
    {
        "id": "b13fdfdb54641480",
        "type": "switch",
        "z": "0b520d44806a11f3",
        "name": "flow",
        "property": "flow",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "onboarding",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "b4ff009868182db4"
            ],
            []
        ]
    },
    {
        "id": "b4ff009868182db4",
        "type": "link out",
        "z": "0b520d44806a11f3",
        "name": "",
        "mode": "link",
        "links": [
            "218733ef4ac534e2",
            "7efa52e1fa3c0446"
        ],
        "x": 945,
        "y": 260,
        "wires": []
    },
    {
        "id": "7efa52e1fa3c0446",
        "type": "link in",
        "z": "a5dbc1a6f35dd83e",
        "name": "",
        "links": [
            "b4ff009868182db4"
        ],
        "x": 185,
        "y": 140,
        "wires": [
            [
                "e1fc50f72bad8b5b"
            ]
        ]
    },
    {
        "id": "e1fc50f72bad8b5b",
        "type": "switch",
        "z": "a5dbc1a6f35dd83e",
        "name": "flow",
        "property": "flow",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "onboarding",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "30593ffebc46a67c"
            ],
            []
        ]
    },
    {
        "id": "30593ffebc46a67c",
        "type": "function",
        "z": "a5dbc1a6f35dd83e",
        "name": "get phone",
        "func": "\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    }
]